.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 2;
  box-sizing: border-box;
}

.main-container img {
  width: 20px;
  cursor: pointer;
}

.main-container .home-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container .home-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
